@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */


#navbar {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    top: 0px;

}

#navbar::before {
    content: " ";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

/*  Navigation Bar Logo and Image  */
#logo {
    /* margin: 34px 45px; */
}

#logo img {
    height: 80px;
    margin: 20px 20px;
    border-radius: 40px;
}

/* Navigation Bar List Styling */
#navbar ul {
    display: flex;
    font-family: 'Lobster', cursive;
}

#navbar ul li {

    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 50px;
    height: 400px;
    justify-content: center;
    align-items: center;

}

#home::before {
    content: " ";
    position: absolute;
    background: url('bc-images/background-image.jpg') no-repeat top center/cover;
    top: 0px;
    right: 0px;
    /* after bracket is for the image position correction */
    height: 510px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    /* background-size: cover; */
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

/* Service Section  */
.services {
    padding-top: 30px;

}

#services {
    margin: 30px;
    display: flex;
}

#services .box {
    border: 2px solid #773737;
    padding: 30px;
    margin: 3px 6px;
    border-radius: 20px;
    background-color: rgb(245, 236, 225);
}

#services .box img {
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

#services.box p {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif
}

/* Clients Section  */
#client-section {
    height: 400px;
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('bc-images/bc-image.jpg')no-repeat bottom center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 30px;
}

#clients img {
    height: 150px;
}

/* Contact section */
#contact {
    position: relative;
    margin: 10px 0px;
    padding-top: 10px;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url('bc-images/bc-contactus.jpg') no-repeat center center/cover;

}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.3rem;
    border-radius: 10px;
    font-size: 1rem;

}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

footer {
    background-color: black;
    color: white;
    padding: 10px 20px;
}

/* Utility Classes */
.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 2.5rem;
    padding: 12px;
}

.h-secondary {
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: #773737;
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}