/* Navigation */
#navbar{
    flex-direction: column;
}
#logo img {
    height: 70px;
    margin: 20px 0px 5px 0px;
    border-radius: 35px;
}
#navbar ul li {

    font-size: 1rem;
}
/* Home Section */
#home{
    height: 250px;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 11px;
}


/* Services Section*/
.services {
    padding-top: 20px;

}
#services{


}

#services {
    flex-direction: column;
}

#services .box img {
    height: 150px;
    
}

#services.box p {
    font-size: 10px;
}

/* Client section */

#clients{
    overflow: hidden;
}
/* Contact Us Section  */


/* footer */


/* Utility Classes */
.h-primary{
    font-size: 1.5rem;
}
.h-secondary{
    font-size: 1rem;
}