/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    
}
#navbar::before{
    content: " ";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1.5;
}
/*  Navigation Bar Logo and Image  */
#logo{
    /* margin: 34px 45px; */
}

#logo img{
    height: 80px;
    margin: 10px 10px;
    border-radius: 40px;
}
/* Navigation Bar List Styling */
#navbar ul{
    display: flex;
}

#navbar ul li {
    
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
   padding: 10px 20px;
   border-radius: 20px;
   text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content:" ";
    position:absolute;
    background: url('bc-images/bc-image-5.jpg') no-repeat center center/cover;
    /* after bracket is for the image position correction */
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    /* background-size: cover; */
}
