.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 6vw;
    height: 5vh;
    /* padding: 1vw; */
    margin:0 1vw 0 1vw;
    font-size: 1vw;
    color: white;
    background-color:var(--main-bg-color);
    border-radius:10px;
    border: 2px solid silver;
    /* no use as the hover dont work on this font as its already bold */
    /* cursor: pointer; */

}
.my-1{
    margin: 20px 80px ;
}
.text-center{
    text-align: center;
}