.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 65px;
    height: 34px;
    padding: 2px 2px;
    margin:0 0 0 10px;
    font-size: 15px;
    color: white;
    background-color:var(--main-bg-color);
    border-radius:10px;
    border: 2px solid silver;
    /* no use as the hover dont work on this font as its already bold */
    /* cursor: pointer; */

}
.my-1{
    margin: 20px 10px ;
}
.text-center{
    text-align: center;
}